body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.menubar {
    width: 100%;
    height: 50px;
    background: #272537;
    box-shadow: 0 0 10px #666; 
}

.menubar .logo {
    float: left;
}

.menubar h1 {
    color: #D1DCE2;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
}
.menubar ul.menu {
    list-style: none;
    float: right;
}
.menubar ul.menu li {
    float: left;
    margin-right: 20px;
}
.menubar ul.menu li a {
    text-decoration: none;
    color: #D1DCE2;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
.menubar ul.menu li a:hover {
    border-bottom: 2px solid #D1DCE2;
    padding-bottom: 0;
}

.Topic {
    background: #606977;
    width: 100%;
    height: 550px;
}

.Topic_area {
    padding-top: 150px;
    text-align: center;
    color: #D1DCE2;
    margin: 0 auto;
    width: 660px;
}
.Topic_area h1 {
    margin: 0;
    font-size: 60px;
    font-weight: normal;
}
.Topic_area p {
    margin: 0 auto;
    margin-top: 15px;
    width: 480px;
    font-size: 16px;
}


.info1 {
    background: #E5D817;
    width: 100%;
    height: 400px;
}
.info1_area {
    color: #272537;
}
.info1_area img {
    margin-top: 70px;
    width: 40%;
    height: 30%;
    float: left;
    border-radius: 15%;
}
.info1_text {
    text-align: center;
    width: 460px;
    float: left;
    margin-left: 100px;
    margin-top: 140px;
}
.info1_area h1 {
    margin: 0;
    font-weight: normal;
}

.info2 {
    width: 100%;
    height: 350px;
    background: #E3BF76;
}
.info2_area {
    color: #333;
}
.info2_area img {
    margin-top: 40px;
    width: 35%;
    height: 20%;
    float: right;
    margin-right: 40px;
    border-radius: 15px;
}
.info2_text {
    text-align: center;
    width: 460px;
    float: right;
    margin-right: 100px;
    margin-top: 140px;
    color: #fff;
}
.info2_area h1 {
    margin: 0;
    font-weight: normal;
}

footer {
    background: #333;
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    color: #fff;
}
footer p {
    margin: 0;
}
